{% load i18n %}

<script>
async function SelectCompany(){
    const sku = document.getElementById("sku").value
    const supplier = parseInt(document.getElementById("supplier").value)
    const pk = {{ part.pk }}
    const cmd_url="{% url 'plugin:suppliercart:add-supplierpart' %}";
    data = {
	sku: sku,
	supplier: supplier,
        pk: pk,
   }
    response = await inventreeFormDataUpload(url=cmd_url, data=JSON.stringify(data))
    location.reload();
}
</script>

{% if plugin.status_code == 200 %}
	<div class='alert alert-block alert-info'>
	{{ plugin.status_code }} {{ plugin.message }}
	</div>
{% else %}
	<div class='alert alert-block alert-danger'>
	{{ plugin.status_code }} {{ plugin.message }}
	</div>
{% endif %}

<table class='table table-condensed'>
<form>
<tbody>
    <tr>
        <td> Select Supplier </td>
        <td>
	    <select id="supplier">
		{% for supplier,data in plugin.registered_suppliers.items %}
                {% if data.is_registered == True %}
		   <option value="{{ data.pk }}"> {{ data.name }} </option>
                {% endif %}
		{% endfor %}
	    </select>
        </td>
    </tr>
    <tr>
        <td> Exact supplier part number from suppliers WEB page</td>
        <td>
            <input id="sku" type="text" value="">
        </td>
    </tr>
</tbody>
<tfoot>
    <tr>
	<td>
            <input type="button" value="Add Part" onclick="SelectCompany()" title='Add Part' />
	</td>
	<td> </td>
    </tr>
</tfoot>
</form>
</table>
