{% load i18n %}

<script>
async function JTransferCart(){
    response = await fetch( "{% url 'plugin:suppliercart:transfer-cart' order.pk %}");
    location.reload();
}
</script>

<button type='button' class='btn btn-dark' onclick="JTransferCart()" title='{% trans "Transfer PO to Supplier" %}'>
<span class='fas fa-redo-alt'></span> {% trans "Transfer PO" %}
</button>

{% if plugin.status_code == 200 %}
	<div class='alert alert-block alert-info'>
	{{ plugin.status_code }} {{ plugin.message }}
	</div>
{% else %}
	<div class='alert alert-block alert-danger'>
	{{ plugin.status_code }} {{ plugin.message }}
	</div>
{% endif %}
Created Mouser shopping cart Key: {{ plugin.cart_content.cart_key }}
<br>

<table class='table table-condensed'>
<thead>
    <tr>
	<td> {% trans "IPN" %} </td>
	<td> {% trans "SKU" %} </td>
	<td> {% trans "Required" %} </td>
	<td> {% trans "Available" %} </td>
	<td> {% trans "Status" %} </td>
	<td align="right"> {% trans "Price" %} </td>
	<td align="right"> {% trans "Total" %} </td>
	<td ></td>
    </tr>
</thead>
<tbody>
    {% for sub in plugin.cart_content.CartItems %}
    <tr>
	<td> {{ sub.IPN }} </td>
	<td> {{ sub.SKU }} </td>
	<td> {{ sub.QuantityRequested }} </td>
	<td> {{ sub.QuantityAvailable }} </td>
	{% if sub.QuantityRequested > sub.QuantityAvailable %}
            <td><span class='badge badge-left rounded-pill bg-danger'>{% trans "No Stock" %}</span></td>
	{% else %}
            <td><span class='badge badge-left rounded-pill bg-success'>{% trans "OK" %}</span></td>
	{% endif %}
	<td align="right"> {{ sub.UnitPrice|floatformat:4 }} </td>
	<td align="right"> {{ sub.ExtendedPrice|floatformat:4 }} </td>
	<td> {{ sub.Error }} </td>
    <tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
	<td> {% trans "Total" %} </td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td align="right"> {{ plugin.cart_content.currency_code }} </td>
	<td align="right"> {{ plugin.cart_content.MerchandiseTotal|floatformat:4 }} </td>
	<td> </td>
    </tr>
</tfoot>
</table>

