{% load static %}
{% load inventree_extras %}
{% load plugin_extras %}
{% load i18n %}

<script>
window.onload = function() {
    cart_data_string = localStorage.getItem('cart_data');
    cart_data = JSON.parse(cart_data_string);
    const segments = window.location.pathname.split("/");
    const pk = segments.pop() || segments.pop(); 
    if (cart_data.pk == pk) {
        CreateTable(cart_data)
        document.getElementById("cart_key").textContent= cart_data.cart_key;
    }
}

function CreateTable(cart_data) {
    const tableHeadStrings = ["{% trans 'IPN' %}",
                              "{% trans 'SKU' %}",
			      "{% trans 'Required' %}",
			      "{% trans 'Available' %}",
			      "{% trans 'Status' %}",
			      "{% trans 'Price' %}",
			      "{% trans 'Total' %}",
			      "{% trans 'Notes' %}"]
    const tableFootStrings = ["",
                              "",
			      "",
			      "",
			      "{% trans 'Total' %}",
			      cart_data.currency_code,
			      cart_data.MerchandiseTotal.toFixed(4),
			      ""]

    const myTableDiv = document.getElementById("myDynamicTable");
    myTableDiv.innerHTML = "";
    const table = document.createElement("TABLE");
    table.classList.add("table");
    table.classList.add("table-condensed");
    table.classList.add("align-right-6rd-column");
    table.classList.add("align-right-7rd-column");

    const tableHead = document.createElement("THEAD");
    table.appendChild(tableHead);
    tableHeadStrings.forEach(function(item, index){
	th = document.createElement("TH");
	th.appendChild(document.createTextNode(item));
	tableHead.appendChild(th);
    });
    tableHead.appendChild(th);

    const tableBody = document.createElement("TBODY");
    table.appendChild(tableBody);
    for (let i = 0; i < cart_data.CartItems.length; i++) {
        const tr = document.createElement("TR");
        tableBody.appendChild(tr);
        let td = document.createElement("TD");
        td.appendChild(document.createTextNode(cart_data.CartItems[i].IPN));
        tr.appendChild(td);
        td = document.createElement("TD");
        td.appendChild(document.createTextNode(cart_data.CartItems[i].SKU));
        tr.appendChild(td);
        td = document.createElement("TD");
        td.appendChild(document.createTextNode(cart_data.CartItems[i].QuantityRequested));
        tr.appendChild(td);
        td = document.createElement("TD");
        td.appendChild(document.createTextNode(cart_data.CartItems[i].QuantityAvailable));
        tr.appendChild(td);
        td = document.createElement("TD");
        td.classList.add("badge")
        td.classList.add("badge-left")
        td.classList.add("rounded-pill")
        if (cart_data.CartItems[i].QuantityRequested < cart_data.CartItems[i].QuantityAvailable){
            td.appendChild(document.createTextNode("OK"));
	    td.classList.add("bg-success")
        } else {
            td.appendChild(document.createTextNode("Not OK"));
	    td.classList.add("bg-danger")
	}
        tr.appendChild(td);
        td = document.createElement("TD");
        td.appendChild(document.createTextNode(cart_data.CartItems[i].UnitPrice.toFixed(4)));
        tr.appendChild(td);
        td = document.createElement("TD");
        td.appendChild(document.createTextNode(cart_data.CartItems[i].ExtendedPrice.toFixed(4)));
        tr.appendChild(td);
        td = document.createElement("TD");
        td.appendChild(document.createTextNode(cart_data.CartItems[i].Error));
        tr.appendChild(td);
    }

    const tableFoot = document.createElement("TFOOT");
    table.appendChild(tableFoot);
    tableFootStrings.forEach(function(item, index){
	tf = document.createElement("TD");
	tf.appendChild(document.createTextNode(item));
        tf.style.textAlign = "right";
	tableFoot.appendChild(tf);
    });
    myTableDiv.appendChild(table);
}

async function JTransferCart(){
    document.getElementById("loader").style.visibility = "visible";
    response = await fetch( "{% url 'plugin:suppliercart:transfer-cart' order.pk %}");
    const cart_data = await response.json();
    document.getElementById("loader").style.visibility = "hidden";
    document.getElementById("result").textContent=cart_data.message;
    if (cart_data.message == "OK") {
        document.getElementById("result").className="alert alert-block alert-success";
    } else {
        document.getElementById("result").className="alert alert-block alert-danger";
    }
    document.getElementById("cart_key").textContent=cart_data.cart_key;
    localStorage.setItem("cart_data", JSON.stringify(cart_data));
    CreateTable(cart_data)
}
</script>

<style>
table.align-right-6rd-column th:nth-child(6),td:nth-child(6) {
  text-align: right;
}
table.align-right-7rd-column th:nth-child(7),td:nth-child(7) {
  text-align: right;
}
table th {
  padding: 8px;
}
.wheel {
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #3498db; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  visibility: hidden;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<button type='button' class='btn btn-dark' onclick="JTransferCart()" title='{% trans "Transfer PO to Supplier" %}'>
<span class='fas fa-redo-alt'></span> {% trans "Transfer PO" %}
</button>
<br>
<div width="30px" id="loader" class="wheel"></div>
<div class='alert alert-block' id='result'>&nbsp</div>
Created supplier key: <div id="cart_key">  </div>
<br>

<div id="myDynamicTable"></div>
